<section>
    <div class="formBX">
        <form>
            <h3 class="tittle-home">Login</h3>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">Username</label>
            </div>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">Password</label>
            </div>
            <input type="submit" value="Login">
            <a routerLink='/Authentication/forget-password' style="float: right;" class="ach-link">Forget Password?</a>
            <br>
            <br>
            <a  class="ach-link" routerLink='/Authentication/signup'>Signup</a>
        </form>

    </div>
</section>
