section {
    width: 100%;
    height: 100vh;
    background: url(../../../../assets/bg02.jpg);
    background-size: cover;
}

.formBX {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
}

.formBX a {
    text-decoration: none;
    color: yellow;
    padding: 1rem
}

.formBX a:hover {
    color: white;
    transform: scale(1.5);
}

.formBX form {
    padding: 0rem 3rem 3rem 3rem;
    margin: 1rem 3rem 3rem 3rem;
}

.formBX form h3 {
    color: white;
    text-align: center;
}

.formBX form .inputControl {
    position: relative;
    width: 100%;
    width: 100%;
}

.formBX form .inputControl input {
    width: 100%;
    margin: 1rem 0rem;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid yellow;
}

.formBX form .inputControl label {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 1rem 0rem;
    pointer-events: none;
    transition: .5s;
    color: white;
}

.formBX form input[type="submit"] {
    padding: 5px 25px;
    color: white;
    background: yellow;
}

.formBX form input[type="submit"]:hover {
    color: yellow;
    background: white;
}

.formBX form .inputControl input:focus~label,
.formBX form .inputControl input:valid~label {
    position: absolute;
    top: -18px;
    left: 0px;
    margin: 1rem 0rem;
    color: yellow;
}
