<section>
    <div class="container-fluid page-controller">
        <div class="img-control ">
            <img src="../../../assets/bg04.jpg" alt="about">
        </div>
        <div class="content m-3">
            <h3 class="text-center tittle">ABOUT AKSOLUTIONS</h3>

            <div class="row">
              <div class="col-sm-4">
                <div class="about">
                  <img src="../../../assets/h5.png" alt="Aboutimage">
                </div>
              </div>
              <div class="col-sm-8">
                <P class="content-abt">AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology
                  segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge
                  IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations
                  around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs).</P>
                  <div>
                    <ul>
                      <li> <img src="../../../assets/arrow.png"> Excellence</li>
                      <li>  <img src="../../../assets/arrow.png">Actionable Business Insight & Visibility</li>
                      <li> <img src="../../../assets/arrow.png"> Exceptional Customer Experiences</li>
                      <li>  <img src="../../../assets/arrow.png">An Integrated Modern IT Infrastructure</li>
                      <li>  <img src="../../../assets/arrow.png">High-quality software development</li>
                    </ul>
                  </div>
              </div>

            </div>

        </div>
    </div>
</section>
<section>
  <div class="whyus">
    <div class="row">
      <div class="col-sm-8">
          <div class="tittle"><h3>Why Choose Us?</h3></div>
           <div class="content"><p>AKSOL helps you realize your vision, so you can focus on what matters. Our highly talented team of professionals thrive on unique business challenges and take great pride in delivering remarkable solutions that empower our clients.
          </p>
          <div class="rolwhy">
            <div class="box">
              <div class="img1">
                <img src="../../../assets/w1.png" alt="Aboutimage">
              </div>
              <div class="img-content">
                <h3>Best Team Together</h3>
                <p>We celebrate our diverse staff, embrace innovation, encourage continuous learning.</p>
              </div>

            </div>
            <div class="box">
              <div class="img1">
                <img src="../../../assets/w2.png" alt="Aboutimage">
              </div>
              <div class="img-content">
                <h3>Best Team Together</h3>
                <p>We celebrate our diverse staff, embrace innovation, encourage continuous learning.</p>
              </div>

            </div>
            <div class="box">
              <div class="img1">
                <img src="../../../assets/w3.png" alt="Aboutimage">
              </div>
              <div class="img-content">
                <h3>Best Team Together</h3>
                <p>We celebrate our diverse staff, embrace innovation, encourage continuous learning.</p>
              </div>

            </div>
            <div class="box">
              <div class="img1">
                <img src="../../../assets/w4.png" alt="Aboutimage">
              </div>
              <div class="img-content">
                <h3>Best Team Together</h3>
                <p>We celebrate our diverse staff, embrace innovation, encourage continuous learning.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="img">
          <img src="../../../assets/why3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
