* {
    margin: 0px;
    padding: 0px;
}

section {
    /* background-color: grey; */
    color: white;
    padding: 1rem 0rem;
}

.pro-img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pro-img img {
    width: 250PX;
    height: 250px;
    border-radius: 50%;
}

ul li {
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}

ul a {
    text-decoration: none;
    color: white;
}

.contact {
    padding: 10px 10px;
}
