* {
    margin: 0px;
    padding: 0px;
}

section {
    /* background-color: grey; */
    color:  #34495E;;
    padding: 1rem 0rem;
    overflow-x: hidden;
}

.pro-img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pro-img img {
    width: 200PX;
    height: 180px;
    border-radius: 45%;
}

ul li {
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}

ul a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 881px) {
    .quick {
        text-align: center;
    }
    .contact {
        padding: 10px 10px;
        text-align: center;
    }
}

.d-name {
    color: tomato;
    line-height: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 0.5rem;
}

.copy-rihts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.copy-rihts span{
  color: red;
  font-weight: bold;
}
@media screen and (max-width: 881px) {
  .copy-rihts {

    font-size: 1.0rem;
  }
}
