.navbar{
  padding: 1rem;
}
.nav-link {
    line-height: 1.5rem;
    text-transform: uppercase;
}

.navbar-brand img {
    height: 3rem;
    margin: 0px;
    padding: 0px;
}
.active{
  color: red !important;
  font-weight: bold;
}
.icon{
  color: black;
  background-color: transparent;
}
