<section>

</section>
<section>
    <div class="slidebar">
        <input type="checkbox" id="checkBox">
        <label for="checkBox" class="slider-but">
        <span><i class="fa fa-chevron-right" id='right' aria-hidden="true"></i></span>
        <!-- <span><i class="fa fa-chevron-left" id='left' aria-hidden="true"></i></span> -->
        </label>
        <div class="slider">
            <ul>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster</span></li>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster-Details</span></li>
                <li><i class="fa fa-qrcode"></i><span>Application</span></li>
                <li><i class="fa fa-qrcode"></i><span>Applicaion List</span></li>
                <li> <i class="fa fa-qrcode"></i><span>List</span> </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../assets/banner/banner (1).jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/banner/banner (4).jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/banner/banner (2).jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container-fluid m-3">
        <h3 class="text-center">ABOUT AKSOLUTIONS</h3>
        <P style="text-align: justify;">AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto
            Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions
            across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around
            the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs).</P>
    </div>
    <hr>
    <div class="container-fluid bg-dark">
        <div>
            <H2 class="text-center text-white">GALLERY</H2>
        </div>
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid2.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid4.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid5.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid6.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid7.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid8.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid9.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid10.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">

                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div class="bg-img">
        <div class="beet-img">
            <img src="../../../assets/beat.png" alt="heartbeat">
            <br>
            <span>I love You</span>
        </div>

    </div>
</section>
