<section>

</section>
<!-- <section>
    <div class="slidebar">
        <input type="checkbox" id="checkBox">
        <label for="checkBox" class="slider-but">
        <span><i class="fa fa-chevron-right" id='right' aria-hidden="true"></i></span>
        <span><i class="fa fa-chevron-left" id='left' aria-hidden="true"></i></span>
        </label>
        <div class="slider">
            <ul>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster</span></li>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster-Details</span></li>
                <li><i class="fa fa-qrcode"></i><span>Application</span></li>
                <li><i class="fa fa-qrcode"></i><span>Applicaion List</span></li>
                <li> <i class="fa fa-qrcode"></i><span>List</span> </li>
            </ul>
        </div>
    </div>
</section> -->
<section>
    <div class="container-fluid smoke-effect">
        <video autoplay muted>
          <source src="../../../assets/smoke.mp4" type="video/mp4">
        </video>
        <p class="welcomenote">
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>O</span>
            <span>M</span>
            <span>E</span>
            <span class="notvisiable">..</span>
            <span>T</span>
            <span>O</span>
            <span class="notvisiable">..</span>
            <span>A</span>
            <span>K</span>
            <span>S</span>
            <span>O</span>
            <span>L</span>
            <span>U</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
            <span>S</span>
        </p>
    </div>
</section>
<section>
    <!--   <div class="container-fluid  img-fluid" style="position: relative;flex-direction: column-reverse;">
        <img src="../../../assets/bg03.jpg" alt="" style="height: 100%;width: 100%;object-fit: contain;">
    </div> -->
</section>
<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="contnetBX col-12 col-sm-6">
                <h3 class="text-center heading" data-aos="fade-left">ABOUT AKSOLUTIONS</h3>
                <P class="content-abt" data-aos="fade-right">AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology
                    segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge
                    IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to
                    organizations around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs).</P>
            </div>
            <div class="imageBX col-12 col-sm-6">
                <div class="swiper-container swiper2">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper ">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="imgBx">
                                <img src="../../../assets/banner/banner (1).jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="imgBx">
                                <img src="../../../assets/banner/banner (2).jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="imgBx">
                                <img src="../../../assets/banner/banner (4).jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="imgBx">
                                <img src="../../../assets/banner/banner (3).jpg" alt="">
                            </div>
                        </div>

                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-pagination2"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid gallary">
        <div>
            <H2 class="text-center heading" data-aos="fade-left">GALLERY</H2>
        </div>
        <div class="swiper-container swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (1).jpeg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (2).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (3).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (4).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (5).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (6).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (7).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (8).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (9).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (10).jpeg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/img (2).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">

                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination1"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

</section>
<hr>
<section style="overflow: none;">
    <div class="container-fluid container-form">
        <div class="row formdata">
            <div class="col-12 col-sm-6 form-feilds">
                <h2 class="heading" data-aos="fade-left">ENQUIRY</h2>
                <div class="formBX">
                  <form>
                      <div class="inputControl">
                          <input type="text" required=''>
                          <label for="">EMAIL</label>
                      </div>
                      <div class="inputControl">
                          <input type="text" required=''>
                          <label for="">CONTACT</label>
                      </div>
                      <div class="inputControl">
                        <textarea  type="textarea" required=''></textarea>
                        <label for="">WHAT NEED TO SAY</label>
                    </div>
                      <input type="submit" value="SUBMIT">

                  </form>

              </div>
            </div>
            <div class="col-12 col-sm-6 container-form-img" data-aos="fade-left">
                <img src="../../../assets/bg03.jpg" alt="" class="image">
                <div class="overlay">
                    <div class="content">
                        <p>To Know about our Company</p>
                        <input type="button" value="Know More">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
