<section>

</section>
<section>
    <div class="slidebar">
        <input type="checkbox" id="checkBox">
        <label for="checkBox" class="slider-but">
        <span><i class="fa fa-chevron-right" id='right' aria-hidden="true"></i></span>
        <!-- <span><i class="fa fa-chevron-left" id='left' aria-hidden="true"></i></span> -->
        </label>
        <div class="slider">
            <ul>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster</span></li>
                <li><i class="fa fa-qrcode"></i><span>ClassMaster-Details</span></li>
                <li><i class="fa fa-qrcode"></i><span>Application</span></li>
                <li><i class="fa fa-qrcode"></i><span>Applicaion List</span></li>
                <li> <i class="fa fa-qrcode"></i><span>List</span> </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid smoke-effect">
        <video autoplay muted>
          <source src="../../../assets/smoke.mp4" type="video/mp4">
        </video>
        <p class="welcomenote">
            <span>W</span>
            <span>E</span>
            <span>L</span>
            <span>C</span>
            <span>0</span>
            <span>M</span>
            <span>E</span>
            <span class="notvisiable">..</span>
            <span>T</span>
            <span>0</span>
            <span class="notvisiable">..</span>
            <span>A</span>
            <span>K</span>
            <span>S</span>
            <span>O</span>
            <span>L</span>
            <span>U</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
            <span>S</span>
        </p>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="swiper-container swiper2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper ">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/banner/banner (1).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/banner/banner (2).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/banner/banner (4).jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/banner/banner (3).jpg" alt="">
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination2"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid mt-3 mb-3">
        <h3 class="text-center">ABOUT AKSOLUTIONS</h3>
        <P class="content-abt">AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto
            Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around the world. A.K. Solutions provides cutting-edge IT solutions
            across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs). AK Solutions is a complete IT solutions company, offering custom software program development and IT services to organizations around
            the world. A.K. Solutions provides cutting-edge IT solutions across a variety of business and technology segmentsto Business and Independent Software Vendors (ISVs).</P>
    </div>
    <hr>
    <div class="container-fluid bg-dark">
        <div>
            <H2 class="text-center text-white">GALLERY</H2>
        </div>
        <div class="swiper-container swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid2.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid3.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid4.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid5.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid6.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid7.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid8.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid9.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid10.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="../../../assets/gallary/kid1.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-slide">

                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination1"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div class="bg-img">
        <!-- <div class="beet-img">
            <img src="../../../assets/beat.png" alt="heartbeat">
            <br>
            <span>I love You</span>
        </div> -->

    </div>
</section>
