<section>
    <div class="formBX">
        <form>
            <h3 class="tittle-home">Sign Up</h3>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">Username</label>
            </div>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">Password</label>
            </div>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">Confirm Password</label>
            </div>
            <input type="submit" value="Signup">
            <br>
           
            <br>
            <a  routerLink='/Authentication/login'>Login</a>
        </form>

    </div>
</section>
