<section>
    <div class="formBX">
        <form>
            <h3>SIGNUP</h3>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">USERNAME</label>
            </div>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">PASSWORD</label>
            </div>
            <div class="inputControl">
                <input type="text" required=''>
                <label for="">CONFIRM PASSWORD</label>
            </div>
            <input type="submit" value="signup">
            <br>
            <br>
            <br>
            <a routerLink='/login'>Login</a>
        </form>

    </div>
</section>
